*{
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

/* Fonte normal */
@font-face {
    font-family: 'Eurostile';
    src: url('/fonts/EurostileExt-Normal.woff2') format('woff2'),
         url('/fonts/EurostileExt-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Fonte negrito */
@font-face {
    font-family: 'Eurostile';
    src: url('/fonts/EurostileExt-Bold.woff2') format('woff2'),
         url('/fonts/EurostileExt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body{
    display: flex;
    flex-direction: column;
    background-color: #3d4080;

}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 75vh;
  z-index: 0;
}

.h-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: 0;
}

#h-button{
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  border-bottom: white solid 3px;
  transition: border-bottom 0.3s, border-radius 0.3s, border-top 0.3s;
  cursor: pointer;
}

#h-button:hover {
  border-radius: 10px;
  border-bottom: #ff4500 solid 3px;

}


.header{
    display:inline-block;
    margin: 15px;
    z-index: 2;
}
.header a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.header a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


.header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Eurostile", Arial, sans-serif;
    font-size: 120%;
    color: #ffffff;
}

#h-uicon{
    display: flex;
    height: 65px;
    width: 65px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#h-uicon img{
    height: 100px;
    cursor: pointer;
}


#Camada_3{
    fill: rgb(255, 255, 255);
    width: 100px;
}

.bot-page{
    
    background-color: #ffffff;
    border-radius: 25px 25px 0 0;
    align-content: center;
    height: 8vh;
    padding: 10px;
    font-family: "Eurostile", Arial, sans-serif;
    text-align: center;
    font-size: 125%;
    color: black;
    z-index: 1;
}

.footer a:link {
  color: #60955c;
  background-color: transparent;
  text-decoration: none;
}
.footer a:visited {
  color: #60955c;
  background-color: transparent;
  text-decoration: none;
}

/*FlipBook*/


.revista-total{
    height: 100%;
    margin: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.book{
    position: relative;
    width: 475px;
    height: 722px;
    transition: transform 0.5s;

}

.paper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front{
    z-index: 1;
    backface-visibility: hidden;
    border-left: 0px solid rgba(0, 0, 0, 0.2);
}
.back{
    z-index: 0;
}

.front-content,
.back-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content{
    transform: rotateY(180deg);

}

/* Efeito de papel virando */

.flipped .front,
.flipped .back{
    transform: rotateY(-180deg);
    height: 100%;
    width: 100%;
}

/* Botões de controle yipee */

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 15px;
    transition: transform 0.5s;
    z-index: 1;
}

button:focus{
    outline: none;
}

button:hover i {
    color: #a2a2a2;
}

i {
    font-size: 50px;
    color: #ffffff;
}

/* ordem dos papeis */

#p1{
    z-index: 6;
}

#p2{
    z-index: 5;
}

#p3{
    z-index: 4;
}

#p4{
    z-index: 3;
}

#p5{
    z-index: 2;
}

#p6{
    z-index: 1;
}

@media(max-width: 768px){
      /* Botões da revista.html */
  button i {
    font-size: 30px;
  }

  .book {
    width: 298px;
    height: 420px;
  }

  .front-content img,
  .back-content img {
    width: 100%;
    height: 100%;
  }
}
