*{
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

/* Fonte normal 1 */
@font-face {
    font-family: 'EurostileExt';
    src: url('/fonts/EuroStyleNormal.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* Fonte normal 2 */
@font-face {
    font-family: 'Eurostile';
    src: url('/fonts/EurostileExtended.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* Fonte negrito */
@font-face {
    font-family: 'Eurostile';
    src: url('/fonts/EurostileBold.woff2') format('woff2');
    font-weight: bold;
    font-display: swap;
}


body{
    display: flex;
    flex-direction: column;
    background-color: #3d4080;
    
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 75vh;
  z-index: 0;
}
.h-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: 0;
}

#h-button{
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  border-bottom: white solid 3px;
  transition: border-bottom 0.3s;
  cursor: pointer;
}

#h-button:hover {
  border-radius: 10px;
  border-bottom: #ff4500 solid 3px;

}


.header{
    display:inline-block;
    margin: 15px;
    z-index: 2;
}
.header a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.header a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


.header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Eurostile", Arial, sans-serif;
    font-size: 120%;
    color: #ffffff;
}

#h-uicon{
    display: flex;
    height: 80px;
    width: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.UIcon {
  transition: opacity 0.3s;
}

.UIcon.troca {
  opacity: 0;
}

#h-uicon img, a{
    width: 100px;
    height: 100px;
    cursor: pointer;
}


.bot-page{
    background-color: #ffffff;
    align-content: center;
    height: 8vh;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 100%;
    color: black;
    z-index: 1;
}

.footer a:link {
  color: #60955c;
  background-color: transparent;
  text-decoration: none;
}
.footer a:visited {
  color: #60955c;
  background-color: transparent;
  text-decoration: none;
}

.top-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50vh;
    font-family: 'Eurostile', arial, sans-serif;
    font-kerning: auto;
    gap: 100px;
    background-color: none;
    padding: 50px 100px;
    color: white;
    z-index: 1;
}

.top-text{
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  gap: 20px;

}

.top-img img{
  width: 20vw;
}

.transition-sect{
    background-color: white;
    color: #ff4500;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    font-size: 400%;
    font-family: "Eurostile", Arial, sans-serif;
    border-radius: 25px 25px 0 0;
    padding: 25px 50px;
    z-index: 3;
}

.main-sect{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-bottom: black solid 0px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    font-family: "Eurostile", Arial, sans-serif;
    z-index: 2;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 80px;
  min-width: 1000px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 40px;
}

.elementos-dev {
  display: flex;
  flex-direction: column; /* Título em cima */
  gap: 10px;
}

.corpo-revista {
  display: flex;
  justify-content: space-around;
}

.revista-esquerda {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
}

.revista-direita {
  max-width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dev{
    display: block;
    width: 240px;
    height: auto;

}

.title{
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  border-radius: 0 0 20px 20px;
  color: white;
  font-size: 1.2rem;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  text-align: center;
  z-index: 3;
}

#desc{
  font-family: "Eurostile", Arial, sans-serif;
  font-size: 0.9rem;
  min-width: 200px;
  color: #000000;
}

#Camada_2{
    width: 300px;
    fill: #ffffff;
}

#CamadaPlus{
  fill: #ff4500;
}

#Camada_3{
    fill: rgb(255, 255, 255);
    width: 110px;
}

#Camada_4{
    width: 3vw;
}

@media(max-width: 768px) {

    /* Header */

  .header{
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 20px;
    height: 210px;
  }

  .header ul {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 100%;
  }

  .h-buttons {
    gap: 15px;
  }

  #h-uicon {
    width: 50px;
    height: 50px;
    visibility: hidden;
  }

  #h-uicon img{
    height: 70px;
    width: auto;
  }

  /* Vídeo de fundo */
  #myVideo {
    min-height: 100vh;
    object-fit: cover;
  }

    /* Seção SOBRE */
  .main-content {
    grid-template-columns: 1fr;
    padding: 10px 20px;
    min-width: auto;
    max-width: 100%;
  }

  .transition-sect{
    text-align: center;
    font-size: 180%;
  }

  .corpo-revista {
    flex-direction: column;
    gap: 20px;
  }

  .revista-direita {
    max-width: 100%;
    
  }
  .revista-esquerda{
    justify-items: center;
  }

  .title {
    font-size: 1rem;
  }

  #desc {
    text-align: center;
    font-size: 1rem;
    max-width: 240px;
  }

  .bot-page {
    font-size: 90%;
  }

  .top-page{
    padding: 20px;
    flex-wrap: nowrap;
    justify-content: center;
    height: auto;
    gap: 10px;
  }
  

  .top-img img{
    width: 200px;
  }

  .top-text {
    max-width: 50vw;
    gap: 10px;
  }

  .top-text p{
    width: 200px;
}


  #Camada_2{
    width: 200px;
  }

  #Camada_3{
    width: 75px;
  }
}