*{
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

/* Fonte normal (regular) */
@font-face {
    font-family: "Eurostile";
    src: local("EurostileExt Normal") url('fonts/EurostileExt-Normal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Eurostile";
    src: local("EurostileExt-Bold Regular") url('fonts/EurostileExt-Bold-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    display: flex;
    flex-direction: column;
    background-color: #3d4080;
    
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 75vh;
  z-index: 0;
}
.h-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: 0;
}

#h-button{
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  border-bottom: white solid 3px;
  transition: border-bottom 0.3s, border-radius 0.3s, border-top 0.3s;
  cursor: pointer;
}

#h-button:hover {
  border-radius: 10px;
  border-bottom: #ff4500 solid 3px;

}


.header{
    display:inline-block;
    margin: 15px;
    z-index: 2;
}
.header a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.header a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


.header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Eurostile";
    font-size: 120%;
    color: #ffffff;
}

#h-uicon{
    display: flex;
    height: 80px;
    width: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.UIcon {
  transition: opacity 0.3s;
}

.UIcon.troca {
  opacity: 0;
}

#h-uicon img, a{
    width: 125px;
    height: 125px;
    cursor: pointer;
}


.bot-page{
    background-color: #ffffff;
    align-content: center;
    height: 8vh;
    padding: 10px;
    font-family: "Eurostile", sans-serif;
    text-align: center;
    font-size: 125%;
    color: black;
    z-index: 1;
}

.footer a:link {
  color: #60955c;
  background-color: transparent;
  text-decoration: none;
}
.footer a:visited {
  color: #60955c;
  background-color: transparent;
  text-decoration: none;
}

.top-page{
    display: flex;
    background-color: none;
    height: 75vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.transition-sect{
    background-color: white;
    color: #ff4500;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    font-size: 400%;
    font-family: "Eurostile";
    border-radius: 25px 25px 0 0;
    padding: 25px 50px;
    z-index: 3;
}

.main-sect{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-bottom: black solid 0px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    font-family: "Eurostile";
    z-index: 2;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 80px;
  min-width: 1000px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 40px;
}

.elementos-dev {
  display: flex;
  flex-direction: column; /* Título em cima */
  gap: 10px;
}

.corpo-revista {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.revista-esquerda {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.revista-direita {
  max-width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dev{
    display: block;
    width: 100%;
    height: auto;
}

.title{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

#desc{
  font-family: "Eurostile", sans-serif;
  font-size: 1.1rem;
  min-width: 200px;
  color: #000000;
}

#Camada_2{
    width: 70vw;
}

#Camada_3{
    fill: rgb(255, 255, 255);
    width: 110px;
}
#Camada_4{
    width: 3vw;
}